.wrapper {
    width: 100%;
    height: calc(100% - 50px);
    background-color: #191919;
}

.content {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

//ecdbba
//191919
//2d4263
//c84b31
